<div class="post_<%= post.id %>">
  <li><%= link_to post.title, post_path(post) %>
      <% if current_user %>
        <%= link_to "Edit", edit_post_path(post), class: 'btn btn-primary btn-xs' %>
        <%= link_to "Delete", post_path(post), class: 'btn btn-danger btn-xs',
                              data: {confirm: "Delete this post?",
                                     method: "delete"} %>
      <% end %>
  </li>
  <hr>
</div>
